<div class="ui grid">
<div class="two column row">
	<div class="column">
	<h1>Edit Employee</h1>

	<%= render 'new_form' %>

	<%= link_to "<button class='ui green button'>
	  Show
	</button>".html_safe, @employee %>

	<%= link_to "<button class='ui green button'>
	  Back
	</button>".html_safe, employees_path %>

	<br/>
	<br/>
	<br/>
	</div>
</div>
</div>

