<% if not @active_flavors.empty? %>
	<table class="ui very basic collapsing celled table">
		<thead>
			<th>Flavor Name</th>
			<% if can? :update, Flavor %>
			<th></th>
			<th></th>
			<% end %>
		</thead>
		<tbody>
		<% for flavor in @active_flavors %>
		<tr>
			<td>
				<%= link_to flavor.name, flavor_path(flavor) %>
			</td>
			<% if can? :update, Flavor %>
			<td>
				<%= link_to 'Edit', edit_flavor_path(flavor) %>
			</td>
			<td>
				<%= link_to 'Destroy', flavor, confirm: 'Are you sure?', method: :delete %>
			</td>
			<% end %>
		</tr>
		<% end %>
		</tbody>
		<tfoot>

		<tr><th colspan="6">
		<div class="ui right aligned">
		<%= will_paginate @active_flavors, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next",param_name: 'active_page', class: 'itemtags' %>
		</div>
		</th>
		</tr>
		</tfoot>
	</table>
<% else %>
<p>There are no current active flavors. They should show the value of Flavor Name.</p>
<% end %>