<div class="ui grid">
	<div class="two column row">
		<div class="column">
			<h1>Edit Store</h1>
			<%= render 'form' %>
			<%= link_to "<button class='ui green button'>
			Show
			</button>".html_safe, @store %>
			<%= link_to "<button class='ui green button'>
			Back
			</button>".html_safe, stores_path %>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>