<div class="ui top pink secondary menu">
  <a class="item active" data-tab="first">Current</a>
  <a class="item" data-tab="second">Inactive</a>
</div>
<div class="ui bottom tab active" data-tab="first">
	<div class="ui grid">
	<div class="two column row">
		<div class="column">
			<h1>Current Jobs</h1>

				<%= render 'active_jobs_table' %>

				<%= link_to "<button class='ui basic green button'>
	 						 <i class='icon food'></i>
							  Add A Job
							</button>".html_safe, new_job_path  %>
		</div>
	</div>
	</div>
</div>
<div class="ui bottom tab" data-tab="second">
  
<div class="ui grid">
<div class="two column row">
	<div class="column">
	<h1>Inactive Jobs</h1>

	<%= render 'inactive_jobs_table' %>
	</div>
</div>
</div>
</div>

