<div class="ui grid">
	<div class="two column row">
		<div class="column">
			<h1>New User</h1>
			<%= render 'form' %>
			
			<%= link_to "<button class='ui green button'>
			Back
			</button>".html_safe, users_path %>
			<br/>
			<br/>
		</div>
	</div>
</div>