


<div class="ui grid">
  <div class="ten wide column">
  	<%= render 'manager_stats' %>
  	<%= render 'store_flavor_stats' %>
  	<%= render 'upcoming_shifts_table_start_end' %>
  </div>
  <div class="four wide column" id="incomplete_shifts_column">
  	<%= render 'incomplete_shifts_stats' %>
  </div>
  <div class="two wide column"></div>
</div>