<div class="ui cards">
  <div class="pink card">
    <div class="content">
      <div class="header">Easy Access</div>
      <div class="description">
      <div class="ui labels" >
      <%= link_to "Add Shift",  new_shift_path, class: "ui pink label" %>
      
        
	    </div>

      </div>
    </div>
    
  </div>
  </div>