<div class="ui justified container">
<div class="ui grid">
<div class="two column row">
<div class="column">
<h1>About A&M Cremary</h1>
<div class="ui divider"></div>
<p>For this website, optimal usability and tradeoff wer eessential. Things to watch out for, or the thinks that I am most proud of, are how the managers have incompleted shifts. They are able to add jobs to them. Furthermore, after a lot of though as to what the admin should  see in their dashboard . I figure that they should see what all managers see in their stores. 
</p>
<p>Another thing that is important is that it is an adminastrative page. It is proffetional For that reason I didnt not focus on making it pretty. It t has a side bar for optimal space and i made it as cleas as possible. Furthermore I tried to get rid of distractions.</p>
<p>My last thing to point out is that my links are blue! I am a trong beliver that they should be blue. Becasue that is how my mental model is trained. I agree that having them underlined is ugly, so that is not their</p>
<p>I am not using foundation. I am using Semantic UI.</p>
<p>Colors are complementary, I check with Adobe.</p>
</div>
</div>
</div>
</div>