<div class="ui justified container">
<div class="ui grid">
<div class="two column row">
<div class="column">
<h1>About A&M Cremary</h1>
<div class="ui divider"></div>
<p>A&M Creamary was started my Alex and Mark Heimann, in order to provide the best ice cream in the North East. The wanted to do this by providing a wide selection of ice cream flavors, along with multiple stores to provides these.
</p>
<p>Since the company and flavors are growing at an amazing rate, the founders of the company have decided to get with the times and establish an online and technology presence. To do so they hired current CMU Information System students to handle this problem. The best solutio nwas provided by Sebastian Guerrero, the webmaster. So make sure you not only enjoy our many ice cream locations, but our new website.</p>
</div>
</div>
</div>
</div>