<div class="ui justified container">
	<div class="ui grid">
		<div class="two column row">
			<div class="column">
				<h1>Contact</h1>
				<div class="ui divider"></div>
				<p>If you are interested in contacting either store, make sure you visit the store tab to select and get their number. If you are in need to contact either Alex, or Mark Heiman to either open a store or any question. Email amcremary@icecream.com. This email gets to both of their founders.
				</p>
				<p>For any other questions make sure to email the buisness email at icecreambuisness@icecream.com</p>
			</div>
		</div>
	</div>
</div>