<div class="ui justified container">
<h1>Privacy</h1>
<div class="ui divider"></div>
<p>There are many privacy rules and laws tha A&M Cremary follows, and abides by. Since we are currently working on them to post them on the website they will not be here for 2 work days. If you need to get acces to them email our buisness line at amcremarybuisneess@icecream.com
</p>
</div>